@charset "UTF-8";
// Extra Color Scheme from PANTONE http://www.patone.com/
// Feb 24th, 2015 written by KAWANISHI Kazuhiro
//
// from PANTONE(R) FASHION COLOR REPORT SPRING 2014
// http://www.pantone.com/pages/fcr/?season=spring&year=2014
$PlacidBlue:    #8DAED7;
$VioletTulip:   #9B90C8;
$Hemlock:       #97C3A2;
$Sand:          #CDAA7F;
$Paloma:        #9E9D9C;
$Cayenne:       #DA4A52;
$Freesia:       #F6C324;
$CelosiaOrange: #F47D44;
$RadiantOrchid: #B163A3;
$DazzlingBlue:  #2E4DA7;

// from PANTONE(R) FASHION COLOR REPORT FALL 2014
// http://www.pantone.com/pages/fcr/?season=spring&year=2014
$Sangia:        #9D3158;
$AuroraRed:     #B93A3E;
$MauveMist:     #C49FBA;
// $RadiantOrchid: #B163A3; Color of the year 2014
$Cypress:       #525B41;
$BrightCobalt:  #355E91;
$RoyalBlue:     #3F448C;
$Aluminum:      #9C9688;
$Cognac:        #886159;
$MistedYellow:  #DBB960;

// from PANTONE(R) FASHION COLOR REPORT SPRING 2015
// http://www.pantone.com/pages/fcr/?season=spring&year=2015
$Aquamarine:    #9DC6D8;
$ScubaBlue:     #00B2CA;
$LuciteGreen:   #7DCFB6;
$ClassicBlue:   #1D4E89;
$ToastedAlmond: #D2B29A;
$StrawberryIce: #E3868F;
$Tangerine:     #F79256;
$Custard:       #EAD98B;
$Marsala:       #955251;
$GlacierGray:   #C6CBCC;
$DuskBlue:      #7DA1BF;
$Treetop:       #4E6E38;
$Woodbine:      #7F8040;
$Sandstone:     #C78D6B;
$Titanium:      #888688;
$LavenderHerb:  #B38FB1;

// from PANTONE(R) FASHION COLOR REPORT FALL 2015
// http://www.pantone.com/pages/fcr/?season=fall&year=2015
$DriedHerb:     #847F5D;
$DesertSage:    #A3AC99;
$StomyWeather:  #58646D;
$OakBuff:       #D09D5D;
// $Marsala:       #955251; Color of the year 2015
$BiscayBay:     #007784;
$ReflectingPond:#32334A;
$CadmiumOrange: #F5926C;
$CashmereRose:  #CF86A3;
$AmethystOrchid:#9164AB;
